.posts-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 .posts-frame .mid-frame {
    width: 719px;
    height: fit-content;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    left: -9px;
    position: relative;
    background-repeat:repeat;
    /* overflow: hidden; */
    background-attachment:fixed;
    background-position:48.9%;
    /* position: fixed; */
    background-image: url("./image 14.png");
 }

 .posts-frame .wrapper {
   top:0px;
   height: 800px;
   position: relative;

   width: 719px;
 }

 .posts-frame .post-review {
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    row-gap: 20px;
    grid-auto-rows: minmax(290px, auto);

    position: relative;
    left: -50px;
    top: 45px;
    /* overflow-y: scroll;
    overflow-x: visible; */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */

    
 }

 .posts-frame .selector {
   background-color: #ffffff;
   border: 3px solid;
   border-radius: 35px;
   border-color: #5d5fef;
   height: 70px;
   
   position: absolute;
   font-family: "Urbanist", Helvetica;

   left: 385px;
   top: 25px;
   width: 200px;
   font-size: 20px;
   font-weight: 500;
   text-align: center;
 }

 .posts-frame .text-select {
   color: #000;

   top: 45px;
   left: 85px;
   width: 250px;

   position: absolute;

   font-family: "Urbanist", Helvetica;
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;

}

