.text-only {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  cursor: pointer;
}

.text-only .overlap-group-wrapper {
 
  height: 260px;
  width: 290px;
}

.text-only .overlap-group {
  
  width: 290px;
  height: 260px;
  
  justify-content: center;
  background-color: white;
  color: #ffffff;
  
  border: 5px solid #6b6df2;
  border-radius: 30px;
  position: relative;
}

.text-only .text-wrapper {
  color: #000000;
  font-family: "Urbanist-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 0px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 228px;

  display: inline-block;
    width: 120px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.text-only .div {
  color: #000000;
  font-family: "Urbanist-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 116px;
  width: 82px;

  display: inline-block;
    width: 270px;
    height: 47px;
    white-space: wrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.text-only .text-wrapper-2 {
  color: #000000;
  font-family: "Urbanist-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  background-color: rgb(215, 215, 215);
  top: 61px;
  white-space: nowrap;

  display: inline-block;
    width: 270px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
