.trip-frame {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    cursor: pointer;
  }
  
  .trip-frame .overlap-group-wrapper {
   
    height: 260px;
    width: 290px;
  }
  
  .trip-frame .overlap-group {
    
    width: 290px;
    height: 260px;
    
    justify-content: center;
    background-color: white;
    color: #ffffff;
    
    border: 5px solid #6b6df2;
    border-radius: 30px;
    position: relative;
  }
  
  .trip-frame .text-wrapper {
    color: #000000;
    font-family: "Urbanist-Bold", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 0px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute  ;
    top: 228px;

    display: inline-block;
    width: 120px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .trip-frame .trip-info-wrapper {
    color: #521d5f; 

    text-align: center;
    position: relative;
    font-family: "Urbanist", Helvetica,;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    

    top: 25px;
  }

  
  .trip-frame .div {
    color: #000000;
    font-family: "Urbanist-Bold", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 158px;
    width: 82px;

    display: inline-block;
    width: 270px;
    height: 47px;
    white-space: wrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  
  .trip-frame .text-wrapper-2 {
    color: #000000;
    font-family: "Urbanist-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    background-color: rgb(215, 215, 215);
    top: 120px;
    white-space: nowrap;

    display: inline-block;
    width: 270px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  