.profile-right-frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 10%;

    position: fixed;
     
    right:257px;
  }
  
  .profile-right-frame .div {
    background-color: #ffffff;
    height: 832px;
    position: relative;
    width: 269px;
  }
  
  .profile-right-frame .overlap-group {
    background-color: #eaeaea;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 269px;
  }
  
  .profile-right-frame .overlap {
    background-color: #ffffff;
    border-radius: 32.5px/31.5px;
    height: 63px;
    left: 19px;
    position: absolute;
    top: 6px;
    width: 65px;
  }
  
  .profile-right-frame .image {
    height: 54px;
    left: 8px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .profile-right-frame .text-wrapper {
    color: #ffffff;
    font-family: "Urbanist-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
  }
  
  .profile-right-frame .polygon {
    height: 22px;
    left: 210px;
    position: absolute;
    top: 29px;
    width: 28px;
  }
  
  .profile-right-frame .overlap-2 {
    background-color: #eaeaea;
    height: 752px;
    left: 0;
    position: absolute;
    top: 80px;
    width: 269px;
  }
  
  .profile-right-frame .text-wrapper-2 {
    color: #000000;
    font-family: "Urbanist-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 348px;
    white-space: nowrap;
  }
  
  .profile-right-frame .text-wrapper-3 {
    color: #000000;
    font-family: "Urbanist-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 163px;
    white-space: nowrap;

    cursor: pointer;
  }
  
  .profile-right-frame .followers-following {
    color: #000000;
    font-family: "Urbanist-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: 208px;
    width: 112px;
  }
  
  .profile-right-frame .facetune {

    cursor: pointer;

    left: 100px;
    position: absolute;
    top: 75px;
 
  }
  
  .profile-right-frame .text-wrapper-4 {
    color: #000000;
    font-family: "Urbanist-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 298px;
    white-space: nowrap;

    cursor: pointer;
  }
  